{% comment %}
  Renders a cart line item.
  - Note: The stylesheet is loaded in theme-styles.liquid to improve dynamic loading and layout shifts.

  Accepts:
  - item: {Object} The line item object.
  - small: {Boolean} Defines the small styles.

  Usage:
  {% render 'line-item', item: line_item %}
{% endcomment %}

<line-item
  class="
    line-item
    {% if small %}
      line-item--small
    {% endif %}
  "
  data-id="{{ item.id }}"
  {% if section_name %}
    section-name="{{ section_name }}"
  {% endif %}
>
  <a
    class="
      line-item__image
      {% unless item.image %}
        line-item__image--empty
      {% endunless %}
    "
    href="{{ item.url }}"
  >
    {% if item.image %}
      {{ item.image | image_url: width: 280 | image_tag }}
    {% endif %}
  </a>

  <div class="line-item__details">
    <div class="line-item__header">
      {{ item.product.title | link_to: item.url, class: 'line-item__title text-weight-medium' }}

      {% render 'product-price',
        variant: item.variant,
        price: item.final_line_price,
        attributes: 'data-target="line-item.total"'
      %}
    </div>

    <p class="text-body-small line-item__options">
      {% for option in item.options_with_values %}
        <span>{{ option.value }}</span>
      {% endfor %}
    </p>

    {% if item.selling_plan_allocation %}
      <p>{{ item.selling_plan_allocation.selling_plan.name }}</p>
    {% endif %}

    <div class="line-item__actions">
      {% render 'quantity-selector', name: 'updates[]', initial_value: item.quantity, id: item.id %}

      <a class="line-item__remove" href="{{ item.url_to_remove }}" data-target="line-item.remove">
        {% render 'icon-misc', icon: 'close' %}

        <span class="text-button line-item__remove-label">
          {{ 'line_item.remove' | t }}
        </span>
      </a>
    </div>
  </div>
</line-item>
