{% comment %}
  Renders a country and language selector.

  Usage:
  {% render 'localization-form' %}
{% endcomment %}

{% liquid
  assign enable_form = false

  if localization.available_countries.size >= 2 or localization.available_languages.size >= 2
    assign enable_form = true
  endif
%}

{% if enable_form %}
  {% form 'localization' %}
    <div class="form-group">
      {% if localization.available_countries.size >= 1 %}
        <div class="form-group__field styled-field">
          <label for="{{ section.id | append: '-country' }}">
            {{ 'localization_form.country' | t }}
          </label>

          <select
            id="{{ section.id | append: '-country' }}"
            name="country_code"
          >
            {% for country in localization.available_countries %}
              <option
                value="{{ country.iso_code }}"
                {% if country.iso_code == localization.country.iso_code %}
                  selected
                {% endif %}
              >
                {{ country.name }}
              </option>
            {% endfor %}
          </select>
        </div>
      {% endif %}

      {% if localization.available_languages.size >= 1 %}
        <div class="form-group__field">
          <label for="{{ section.id | append: '-language' }}">
            {{ 'localization_form.language' | t }}
          </label>

          <select
            id="{{ section.id | append: '-language' }}"
            name="language_code"
          >
            {% for language in localization.available_languages %}
              <option
                value="{{ language.iso_code }}"
                {% if language.iso_code == localization.language.iso_code %}
                  selected
                {% endif %}
              >
                {{ language.endonym_name | capitalize }}
              </option>
            {% endfor %}
          </select>
        </div>
      {% endif %}

      <div class="form-group__footer">
        <button class="button button--block button-reset">
          {{ 'localization_form.submit' | t }}
        </button>
      </div>
    </div>
  {% endform %}
{% endif %}
