<section class="main-register">
  <div class="container">
    <div class="grid no-gutter margin">
      <div class="col xs12 m4 offset-m4">
        {% form 'create_customer' %}
          <h1 class="text-h4">{{ 'sections.main_register.title' | t }}</h1>

          {{ form.errors | default_errors }}

          <div class="form-group">
            <div class="form-group__field styled-field">
              <label for="{{ section.id | append: '-first-name' }}">
                {{ 'sections.main_register.first_name' | t }}
              </label>

              <input
                id="{{ section.id | append: '-first-name' }}"
                name="customer[first_name]"
                type="text"
                {% if form.first_name %}
                  value="{{ form.first_name }}"
                {% endif %}
                placeholder="{{ 'sections.main_register.first_name' | t }}"
              >
            </div>

            <div class="form-group__field styled-field">
              <label for="{{ section.id | append: '-last-name' }}">
                {{ 'sections.main_register.last_name' | t }}
              </label>

              <input
                id="{{ section.id | append: '-last-name' }}"
                name="customer[last_name]"
                type="text"
                {% if form.last_name %}
                  value="{{ form.last_name }}"
                {% endif %}
                placeholder="{{ 'sections.main_register.last_name' | t }}"
              >
            </div>

            <div class="form-group__field styled-field">
              <label for="{{ section.id | append: '-email' }}">
                {{ 'sections.main_register.email' | t }}
              </label>

              <input
                id="{{ section.id | append: '-email' }}"
                name="customer[email]"
                type="email"
                {% if form.email %}
                  value="{{ form.email }}"
                {% endif %}
                placeholder="{{ 'sections.main_register.email' | t }}"
              >
            </div>

            <div class="form-group__field styled-field">
              <label for="{{ section.id | append: '-password' }}">
                {{ 'sections.main_register.password' | t }}
              </label>

              <input
                id="{{ section.id | append: '-password' }}"
                name="customer[password]"
                type="password"
                placeholder="{{ 'sections.main_register.password' | t }}"
              >
            </div>

            <div class="form-group__footer">
              <button class="button button-reset">
                {{ 'sections.main_register.submit' | t }}
              </button>
            </div>

            <a class="form-group__link text-link" href="{{ routes.account_login_url }}">
              {{ 'sections.main_register.login_link' | t }}
            </a>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</section>
