<div class="container">
  <h1 class="text-h3">{{ shop.name }}</h1>

  {% unless shop.password_message == blank %}
    <p>{{ shop.password_message }}</p>
  {% endunless %}

  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}

    <div class="form-group form-group--inline">
      <div class="form-group__field styled-field">
        <label for="{{ section.id | append: '-password' }}">
          {{ 'sections.main_password.password' | t }}
        </label>

        <input
          id="{{ section.id | append: '-password' }}"
          name="password"
          required
          type="password"
          placeholder="{{ 'sections.main_password.password' | t }}"
        >
      </div>

      <button class="button">{{ 'sections.main_password.submit' | t }}</button>
    </div>
  {% endform %}
</div>

{% schema %}
{
  "class": "section-margin"
}
{% endschema %}
