{{ 'size-guide-header.css' | asset_url | stylesheet_tag }}

{% liquid
  assign breadcrumb_title = section.settings.heading | default: page.title
  assign has_menu = false
  assign current_link = null
  assign has_fit_button = false

  unless section.settings.fit_button_label == empty or section.settings.fit_button_url == null
    assign has_fit_button = true
  endunless

  unless section.settings.menu == blank or section.settings.menu.links.size == 0
    assign has_menu = true

    for link in section.settings.menu.links
      if link.current or link.child_current
        assign current_link = link
      endif
    endfor
  endunless
%}

<div class="size-guide-header">
  <div class="size-guide-header__header container">
    {% render 'breadcrumb', custom_item: breadcrumb_title %}

    {% unless section.settings.heading == empty and section.settings.subcontent == empty %}
      <div class="grid">
        {% unless section.settings.heading == empty %}
          <div class="col xs12 l6">
            <h1 class="no-margin">{{ section.settings.heading }}</h1>
          </div>
        {% endunless %}

        {% unless section.settings.subcontent == empty %}
          <div class="col xs12 l5 offset-l6">
            <div class="rte text-h4 no-margin">{{ section.settings.subcontent | newline_to_br }}</div>
          </div>
        {% endunless %}
      </div>
    {% endunless %}
  </div>

  {% if has_menu %}
    <detect-overflow>
      <div class="relative indicate-overflow">
        <div class="size-guide-header__nav hide-scrollbar" data-target="detect-overflow.scroll-container">
          {% for link in section.settings.menu.links %}
            <a
              class="size-guide-header__nav-item text-subheading {% if current_link == link %}is-active{% endif %}"
              href="{{ link.url }}"
            >
              {{- link.title -}}
            </a>
          {% endfor %}
        </div>
      </div>
    </detect-overflow>
  {% endif %}

  <div class="size-guide-header__main container">
    <div class="grid">
      {% if current_link and current_link.links.size >= 1 %}
        <div class="col xs12 l6">
          <div class="size-guide-header__fit-nav">
            {% unless section.settings.fit_nav_heading == empty %}
              <p class="size-guide-header__fit-nav-heading">{{ section.settings.fit_nav_heading }}</p>
            {% endunless %}

            <ul class="size-guide-header__fit-nav-list list-reset">
              {% for link in current_link.links %}
                <li>
                  <a
                    class="quick-links__link text-subheading {% if link.current %}is-active{% endif %}"
                    href="{{ link.url }}"
                  >
                    {{- link.title -}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% unless section.settings.fit_description == empty and has_fit_button == false %}
        <div class="col xs12 l5 offset-l6">
          {% unless section.settings.fit_description == empty %}
            <div class="size-guide-header__fit-description rte text-h4 no-margin">
              {{ section.settings.fit_description }}
            </div>
          {% endunless %}

          {% if has_fit_button %}
            <a class="text-button" href="{{ section.settings.fit_button_url }}">
              {{- section.settings.fit_button_label }}
              {% render 'growing-arrow' -%}
            </a>
          {% endif %}
        </div>
      {% endunless %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.size-guide-header.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:presets.settings.heading.label",
      "default": "Fit & Size Guide"
    },
    {
      "type": "richtext",
      "id": "subcontent",
      "label": "t:presets.settings.subcontent.label",
      "info": "t:presets.settings.subcontent.info",
      "default": "<p>We've created a guide that will help you find the right fit and size of our product, making it easier for you to make the perfect choice.</p>"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:presets.settings.menu.label"
    },
    {
      "type": "text",
      "id": "fit_nav_heading",
      "label": "t:sections.size-guide-header.settings.fit_nav_heading.label",
      "default": "Select fit:"
    },
    {
      "type": "richtext",
      "id": "fit_description",
      "label": "t:sections.size-guide-header.settings.fit_description.label",
      "info": "t:presets.settings.subcontent.info"
    },
    {
      "type": "text",
      "id": "fit_button_label",
      "label": "t:sections.size-guide-header.settings.fit_button_label.label",
      "default": "Shop slim fit shirts"
    },
    {
      "type": "url",
      "id": "fit_button_url",
      "label": "t:sections.size-guide-header.settings.fit_button_url.label",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "t:sections.size-guide-header.name"
    }
  ]
}
{% endschema %}
